<section class="burger-menu">
  <div class="container burger-menu-header">
    <a href="#" class="header-link-logo">
      <img class="header-img-logo" src="/img/icon-logo.svg" alt="logo" />
    </a>
    <button class="close-btn" type="button">
      <svg class="close-btn-icon" width="48" height="48">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="container burger-menu-container">
    <ul class="burger-nav-list">
      <li class="nav-list-item">
        <a href="#about">Про нас</a>
      </li>
      <li class="nav-list-item">
        <a href="#advantages">Переваги</a>
      </li>
      <li class="nav-list-item">
        <a href="#assortment">Асортимент</a>
      </li>
      <li class="nav-list-item">
        <a href="#gallery">Галерея</a>
      </li>
      <li class="nav-list-item">
        <a href="#feedbacks">Відгуки</a>
      </li>
      <li class="nav-list-item">
        <a href="#footer">Контакти</a>
      </li>
    </ul>
    <address class="burger-contact">
      <ul class="contact-list">
        <li class="contact-list-item">
          <a href="tel:+380999091122" class="contact-link">
            +38 (099) 909 11 22
          </a>
        </li>
        <li class="contact-list-item">
          <a href="mailto:hello@ecotote.com" class="contact-link">
            hello@ecotote.com
          </a>
        </li>
      </ul>
    </address>
  </div>
</section>
