      <div class="mobile-menu">
          <div class="container mobile-menu-container">
            <div class="page-menu">
                <img class="menu-logo"
                src="/img/logo-header.svg"
                 alt="EcoTote"/>
             <button class="mobile-menu-close">
            <svg class="icon-close" width="32" height="32">
              <use href="/img/sprite.svg#icon-x"></use>
            </svg>
          </button>
            </div>
            
            <nav class="menu-nav">
              <ul class="nav-list-menu">
                <li class="nav-items-menu">
                  <a class="nav-link-menu" href="">Про нас</a>
                </li>
                <li class="nav-items-menu">
                  <a class="nav-link-menu" href="">Переваги</a>
                </li>
                <li class="nav-items-menu">
                  <a class="nav-link-menu" href="">Асортимент</a>
                  </li>
                  <li class="nav-items-menu">
                    <a class="nav-link-menu" href="">Галерея</a>
                  </li>
                  <li class="nav-items-menu">
                    <a class="nav-link-menu" href="">Відгуки</a>
                  </li>
                  <li class="nav-items-menu">
                    <a class="nav-link-menu" href="">Контакти</a>
                  </li>
            </ul>
          </nav>
          
          <address class="contacts-menu">
            <ul class="contacts-list-menu">
              <li class="contacts-items-menu">
                 <li class="contacts-items-menu">
            <a class="contacts-link-menu" href="tel:+380999091122"
              >+38 (099) 909 11 22</a>
          </li>
            <a class="contacts-link-menu" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
         
        </ul>
          </address>