      <div class="mobile-menu">
          <div class="container mobile-menu-container">
            <div class="page-menu">
              <a href="#index">
                <img class="menu-logo"
                src="/img/logo-header.svg"
                alt="EcoTote"
                width="84"
                height="36"/>
              </a>
            </div>    
              <button class="mobile-menu-close">
                <svg class="icon-close" width="32" height="32">
                <use href="/img/sprite.svg#icon-close"></use>
                </svg>
              </button>
            
            <nav class="menu-nav">
              <ul class="nav-list-menu">
                <li class="nav-items-menu">
                  <a class="nav-link-menu" href="#about">Про нас</a>
                </li>
                <li class="nav-items-menu">
                  <a class="nav-link-menu" href="#advantages">Переваги</a>
                </li>
                <li class="nav-items-menu">
                  <a class="nav-link-menu" href="#assortment">Асортимент</a>
                </li>
                <li class="nav-items-menu">
                  <a class="nav-link-menu" href="#gallery">Галерея</a>
                </li>
                <li class="nav-items-menu">
                  <a  class="nav-link-menu" href="#feedbacks">Відгуки</a>
                </li>
                <li class="nav-items-menu">
                  <a class="nav-link-menu" href="#footer">Контакти</a>
                </li>
            </ul>
          </nav>
          
          <address class="contacts-menu">
            <ul class="contacts-list-menu">
                <li class="contacts-items-menu">
                  <a class="contacts-link-menu" href="tel:+380999091122">+38 (099) 909 11 22</a>
                </li>
                <li class="contacts-items-menu">
                  <a class="contacts-link-menu" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
                </li>
            </ul>
          </address>
          </div>
      </div>    