<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-logo">
      <a href="./index.html">
        <img
          class="footer-logo-img"
          src="/img/icon-logo.svg"
          alt="EcoTote Logo"
        />
      </a>
    </div>

    <div class="nav-footer-wrapper">
      <ul class="nav-footer">
        <li><a class="nav-list-link" href="#about">Про нас</a></li>
        <li><a class="nav-list-link" href="#advantages">Переваги</a></li>
        <li><a class="nav-list-link" href="#assortment">Асортимент</a></li>
        <li><a class="nav-list-link" href="#gallery">Галерея</a></li>
        <li><a class="nav-list-link" href="#feedbacks">Відгуки</a></li>
        <li><a class="nav-list-link" href="#footer">Контакти</a></li>
      </ul>
    </div>

    <div class="social-footer-wrapper desktop-position">
      <ul class="social-footer">
        <li class="social-footer-li">
          <a href="https://www.instagram.com/" class="social-footer-link" target="_blank">
            <svg class="icon-footer">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-footer-li">
          <a href="https://www.linkedin.com/" class="social-footer-link" target="_blank">
            <svg class="icon-footer">
              <use href="/img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social-footer-li">
          <a href="https://www.youtube.com/" class="social-footer-link" target="_blank">
            <svg class="icon-footer">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="address-footer-wrapper">
      <address class="address-footer">
        <ul class="address-footer-ul">          
          <li class="address-footer-li">
            <a class="address-footer-link" href="tel:+380999091122">
              +38 (099) 909 11 22</a
            >
          </li>
          <li class="address-footer-li">
            <a class="address-footer-link" href="mailto:hello@ecotote.com">
              hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <p class="rights">&copy; 2024 EcoTote. Всі права захищені.</p>
    </div>

      
    </div>

</footer>
