<section class="section-gallery">
  <div class="container gallery">
    <h1 class="title-gallery">Галерея зображень</h1>
    <h2 class="second-title-gallery">EcoTotes у повсякденному житті</h2>
    <ul class="list-gallery">
      <li class="item-gallery eco">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_2@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_2@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_2@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_2@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_2@2x.jpg 2x
            "
          />
          <img
            class="img-eco"
            src="/img/gallery_img/desktop-tablet/img_2@2x.jpg"
            alt="ECO сумка"
            width="288"
            height="288"
          />
        </picture>
      </li>
      <li class="item-gallery casual">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_3@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_3@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_3@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery_img/mobile/img_3m@1x.jpg 1x,
              ../img/gallery_img/mobile/img_3m@2x.jpg 2x
            "
          />
          <img
            class="img-casual"
            src="/img/gallery_img/mobile/img_3m@2x.jpg"
            alt="Сумка casual"
            width="288"
            height="288"
          />
        </picture>
      </li>
      <li class="item-gallery sing">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_4@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_4@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_4@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery_img/mobile/img_4m@1x.jpg 1x,
              ../img/gallery_img/mobile/img_4m@2x.jpg 2x
            "
          />
          <img
            class="img-sing"
            src="/img/gallery_img/mobile/img_4m@2x.jpg"
            alt="Сумка знак утилізації"
            width="288"
            height="288"
          />
        </picture>
      </li>
      <li class="item-gallery classic">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_1@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_1@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_1@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery_img/desktop-tablet/img_1@1x.jpg 1x,
              ../img/gallery_img/desktop-tablet/img_1@2x.jpg 2x
            "
          />
          <img
            class="img-classic"
            src="/img/gallery_img/desktop-tablet/img_1@2x.jpg"
            alt="Сумка classic"
            width="288"
            height="288"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
