<header class="page-header">
    <div class="container header-container">
        <a href="./index">
        <img class="header-logo"
        src="/img/logo-header.svg"
        alt="EcoTote"
        width="106"
        height="45"/>
        </a>
      <nav class="header-nave">
        <ul class="nav-list">
            <li class="nav-items">
                <a class="nav-link" href="#about">Про нас</a>
                 </li>
            <li class="nav-items">
               <a class="nav-link" href="#advantages">Переваги</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" href="#assortment">Асортимент</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" href="#gallery">Галерея</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" href="#feedbacks">Відгуки</a>
            </li>
            <li class="nav-items">
                <a class="nav-link" href="#footer">Контакти</a>
            </li>
        </ul>
      </nav>
      <address class="contacts">
        <ul class="contacts-list">
          <li class="contacts-items">
            <a class="contacts-link" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="contacts-items">
            <a class="contacts-link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
          
        </ul>
      </address>
      <button class="burger-btn" type="button">
        <svg class="burger-icon" width="48" height="48">
            <use href="/img/sprite.svg#icon-menu"></use>
        </svg>

      </button>
    </div>

  </header>
