
.section-about {
margin: auto;
max-width: 320px;
padding: 64px 16px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;

background-image: linear-gradient(rgba(3, 10, 6, 0.4), rgba(3, 10, 6, 0.4)),
url(/img/about_img/mobile/about-mobile@1x.jpg);
}

@media (min-resolution: 2x) {
.section-about{
background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
rgba(3, 10, 6, 0.4)), url(/img/about_img/mobile/about-mobile@2x.jpg);
}
}
.title-container{
text-align: center;    
}
.about-container{
text-align: center;     
margin: 16 64 16 64;  
}
.title-naturalness{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #fff;
margin: 0 auto 64px auto;
font-family: "Fira Sans", sans-serif;

}
.about-title{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #fff;
margin-bottom: 12px;
margin-left: 16px;
margin-right: 16px;
font-family: "Comfortaa", sans-serif;
}
.title-description{
font-weight: 400;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: #fff;
margin-bottom: 64px;
margin-left: 16px;
margin-right: 16px;
font-family: "Fira Sans", sans-serif;
}

@media screen and (min-width: 768px) {
.section-about{
max-width: 768px;
padding-block: 80px;
padding-inline: 32px;

background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
 rgba(3, 10, 6, 0.4)), url(/img/about_img/tablet/about-tablet@1x.jpg);
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
} 

@media (min-resolution: 2x) {
.section-about{

background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
 rgba(3, 10, 6, 0.4)), url(/img/about_img/tablet/about-tablet@2x.jpg);
}
}
.title-naturalness{
margin-top: 80px;
margin-bottom: 16px;
}

.about-title{
padding-bottom: 24px;
}

.title-description{
margin-bottom: 80px;
max-width: 573px;
}
}

@media screen and (min-width: 1158px) {
.section-about{
max-width: 1440px;

background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
 rgba(3, 10, 6, 0.4)), url(/img/about_img/desktop/about-desktop@1x.jpg);
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
}

@media (min-resolution: 2x) {
.section-about{
 
background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
 rgba(3, 10, 6, 0.4)), url(/img/about_img/desktop/about-desktop@2x.jpg);
}
}

.title-containe{
margin-bottom: 112px;
}
.about-container{
margin-left: 336px;
margin-right: 336px; 
max-width: 768px;
max-height: 216px;
}
.title-naturalness{
margin-top: 112px;
margin-bottom: 16px;
}

.about-title{
font-size: 56px;    
padding-bottom: 24px;
max-width: 629px;
}

.title-description{
margin-left: 18px;    
margin-bottom: 94px;
max-width: 573px;

}
}