
.section-about {
width: 100%;
padding: 0 64px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;

background-image: linear-gradient(rgba(3, 10, 6, 0.4), rgba(3, 10, 6, 0.4)),
url(/img/about_img/mobile/about-mobile@1x.jpg);
}

 @media screen and (min-width:320px) and (min-resolution:192dpi) {
.section-about{
background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
rgba(3, 10, 6, 0.4)), url(/img/about_img/mobile/about-mobile@2x.jpg);
}


.title-naturalness{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #fff;
font-family: "Fira Sans", sans-serif;
margin-bottom: 12px;

}
.about-title{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #fff;
margin-bottom: 20px;
font-family: "Comfortaa", sans-serif;
}
.title-description{
font-weight: 400;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: #fff;
font-family: "Fira Sans", sans-serif;
margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
.section-about{

background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
 rgba(3, 10, 6, 0.4)), url(/img/about_img/tablet/about-tablet@1x.jpg);
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
} 

 @media screen and (min-width:768px) and (min-resolution:192dpi) {
.section-about{

background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
 rgba(3, 10, 6, 0.4)), url(/img/about_img/tablet/about-tablet@2x.jpg);
}


.title-naturalness{
margin-bottom: 16px;
}

.about-title{
margin-bottom: 24px;

}

.title-description{    
margin-bottom: 80px;
max-width: 573px;
}
}

@media screen and (min-width: 1158px) {
.section-about{
max-width: 1440px;

background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
 rgba(3, 10, 6, 0.4)), url(/img/about_img/desktop/about-desktop@1x.jpg);
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
}

@media screen and (max-width: 1440px) and (min-resolution:192dpi) {
.section-about{
 
background-image: linear-gradient(rgba(3, 10, 6, 0.4), 
 rgba(3, 10, 6, 0.4)), url(/img/about_img/desktop/about-desktop@2x.jpg);
}

.title-naturalness{
margin-bottom: 16px;
}
.about-title{    
margin-bottom: 24px;
}
.title-description{
max-width: 573px;
margin-bottom: 94px;
}
}
