
.section-about{
margin: auto;
background-color: #FFFFFF;
max-width: 320px;
padding-top: 64px;
padding-bottom: 64px;
padding-inline: 16px;
background-image: url(/img/about_img/mobile/about-mobile@1x.jpg);
background-image: linear-gradient(lab(40% 0 0 / 0), 
 lab(40% 0 0 / 0)), url(/img/about_img/mobile/about-mobile@1x.jpg);
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
}

@media (min-resolution: 2x) {
.section-hero{
background-image: url(/img/about_img/mobile/about-mobile@2x.jpg);
background-image: linear-gradient(lab(40% 0 0 / 0), 
 lab(40% 0 0 / 0)), url(/img/about_img/mobile/about-mobile@2x.jpg);
}
}

.title-naturalness{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #fff;
margin: 0 auto 64px auto;
}
.about-title{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #fff;
margin-bottom: 12px;
margin-left: 16px;
margin-right: 16px;
}
.title-description{
font-weight: 400;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: #fff;
margin-bottom: 64px;
margin-left: 16px;
margin-right: 16px;
}

@media screen and (min-width: 768px) {
.section-about{
margin: auto;
background-color: #FFFFFF;
max-width: 768px;
padding-block: 80px;
padding-inline: 32px;
background-image: url(url/img/about_img/tablet/about-tablet@1x.jpg);
background-image: linear-gradient(lab(40% 0 0 / 0), 
 lab(40% 0 0 / 0)), url(url/img/about_img/tablet/about-tablet@1x.jpg);
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
} 

@media (min-resolution: 2x) {
.section-hero{
background-image: url(url/img/about_img/tablet/about-tablet@2x.jpg);
background-image: linear-gradient(lab(40% 0 0 / 0), 
 lab(40% 0 0 / 0)), url(/img/about_img/tablet/about-tablet@2x.jpg);
}
}
.title-naturalness{
margin-top: 80px;
margin-bottom: 16px;
}

.about-title{
padding-bottom: 24px;
}

.title-description{
margin-bottom: 80px;
}
}

@media screen and (min-width: 1158px) {
.section-about{
margin: auto;
background-color: #FFFFFF;
max-width: 1440px;
padding-block: 112px;
padding-inline: 64px;
background-image: url(/img/about_img/desktop/about-desktop@1x.jpg);
background-image: linear-gradient(lab(40% 0 0 / 0), 
 lab(40% 0 0 / 0)), url(/img/about_img/desktop/about-desktop@1x.jpg)
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
}

@media (min-resolution: 2x) {
.section-hero{
background-image: url(/img/about_img/desktop/about-desktop@2x.jpg);
background-image: linear-gradient(lab(40% 0 0 / 0), 
 lab(40% 0 0 / 0)), url(/img/about_img/desktop/about-desktop@2x.jpg);
}
}
.title-naturalness{
margin-top: 112px;
margin-bottom: 16px;
}

.about-title{
font-size: 56px;    
padding-bottom: 24px;
}

.title-description{
margin-left: 18px;    
margin-bottom: 94px;
}
}