
.section-about {
width: 320px;
height: 347px;
padding: 64px 0;
margin: 0 auto;
background-position: center;
background-size: cover;
background-repeat: no-repeat;

background-image: linear-gradient(rgba(3, 10, 6, 0.4), rgba(3, 10, 6, 0.4)),
url(/img/about_img/mobile/about-mobile@2x.jpg);

}

.title-naturalness{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #fff;
font-family: "Fira Sans", sans-serif;
margin-bottom: 12px;

}
.about-title{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #fff;
margin-bottom: 20px;
font-family: "Comfortaa", sans-serif;
}
.title-description{
font-weight: 400;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: #fff;
font-family: "Fira Sans", sans-serif;
margin-bottom: 64px;
}

@media screen and (min-width:768px) and (min-resolution:192dpi) {
    .section-about {
        width: 768px;
        height: 325px;
        padding: 80px 0;

        background-image: linear-gradient(rgba(3, 10, 6, 0.4), rgba(3, 10, 6, 0.4)),
            url(/img/about_img/tablet/about-tablet@2x.jpg);

    }

    .title-naturalness {
        margin-bottom: 16px;
    }

    .about-title {
        margin-bottom: 24px;
    }
}

@media screen and (min-width:1440px) and (min-resolution:192dpi) {
    .section-about {
            width: 1440px;
            height: 462px;
            padding: 112px 0
            94px;
    
            background-image: linear-gradient(rgba(3, 10, 6, 0.4), rgba(3, 10, 6, 0.4)),
                url(/img/about_img/tablet/about-tablet@2x.jpg);
    
        }

        .about-title {
            font-size: 56px;
            width: 629px;
            margin: 0 auto 24px;
        }

        .title-description {
            
            font-size: 18px;

        }
}
