/* #region mobile */
.advantages-section {
  padding: 32px 16px;
  margin: 0 auto;
}

.advantages-name {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  align-self: flex-start;
  color: #030a06;
}

.advantages-title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 20px;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 48px;
}

.advantages-img,
.advantages-third-img {
  border-radius: 32px;
  margin-bottom: 8px;
  overflow: hidden;
}

.advantages-list-item-title {
  margin-bottom: 4px;
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
}

.advantages-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}
/* #endregion mobile */

/* #region tablet */
@media screen and (min-width: 768px) {
  .advantages-section {
    padding: 64px 32px;
  }

  .container {
    width: 704px;
  }

  .advantages-name {
    margin-bottom: 16px;
  }

  .advantages-title {
    margin-bottom: 24px;
    align-self: flex-start;
  }

  .advantages-text {
    font-size: 18px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
  }

  .advantages-list-item {
    flex-basis: calc((100% - 24px) / 2);
    margin: 0;
  }

  .advantages-img {
    margin-bottom: 32px;
    width: 340px;
    height: 201px;
  }

  .advantages-third-img {
    width: 704px;
    height: 416px;
    object-fit: cover;
    margin-bottom: 32px;
  }

  .advantages-list-item:nth-child(3) {
    flex-basis: 100%;
  }

  .advantages-list-item-title {
    margin-bottom: 8px;
    width: 340px;
  }

  .advantages-list-item:nth-child(2) .advantages-list-item-title {
    margin-bottom: 42px;
  }

  .advantages-list-item-text {
    width: 340px;
  }

  .advantages-list-item:nth-child(3) .advantages-list-item-title,
  .advantages-list-item:nth-child(3) .advantages-list-item-text {
    width: 100%;
  }
}

/* #endregion tablet */

/* #region desktop */
@media screen and (min-width: 1440px) {
  .advantages-section {
    padding: 64px;
  }

  .container {
    width: 1312px;
  }

  .advantages-name {
    margin-bottom: 16px;
  }

  .advantages-title {
    font-size: 48px;
    margin-bottom: 24px;
  }

  .advantages-text {
    font-size: 18px;
    width: 768px;
    align-self: flex-start;
  }

  .advantages-list {
    margin-top: 80px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .advantages-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .advantages-img,
  .advantages-third-img {
    border-radius: 32px;
    width: 421px;
    height: 249px;
  }

  .advantages-list-item-title {
    margin-bottom: 24px;
    font-size: 32px;
    width: 421px;
  }

  .advantages-list-item:nth-child(2) .advantages-list-item-title {
    margin-bottom: 24px;
  }

  .advantages-list-item-text {
    width: 100%;
  }
}
/* #endregion desktop */
