/* #region mobile */
.advantages-section{
    padding: 32px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.advantages-name{
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #030A06;
}

.advantages-title{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030A06;
    width: 288px;
    padding-bottom: 20px;
}

.advantages-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
    width: 288px;
}

.advantages-list-item{
    margin-bottom: 48px;
    width: 288px;
}

.advantages-list-item:last-child{
    margin-bottom: 0;
}

.advantages-img, .advantages-third-img{
    border-radius: 32px;
    padding-bottom: 8px;
}

.advantages-list-item-title{
    padding-bottom: 4px;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030A06;
}

.advantages-list-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
}
/* #endregion mobile */

/* #region tablet */
@media screen and (min-width: 768px){
    .advantages-section{
        padding: 64px 32px;
        gap: 32px;
    }

    .advantages-name {
        padding-bottom: 16px;
    }

    .advantages-title {
        width: 704px;
        padding-bottom: 24px;
    }

    .advantages-text {
        font-size: 18px;
        width: 704px;
    }

    .advantages-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
    }

    .advantages-list-item{
        width: 340px;
        margin: 0;
    }

    .advantages-img {
        padding-bottom: 32px;
        width: 340px;
        height: 201px;
    }

    .advantages-third-img{
        width: 704px;
        height: 416px;
        object-fit: cover;
    }

    .advantages-list-item:nth-child(3) {
        width: 704px;
    }

    .advantages-list-item-title {
        padding-bottom: 8px;
    }

    .advantages-list-item:nth-child(2) .advantages-list-item-title {
        padding-bottom: 42px;
    }
}
/* #endregion tablet */

/* #region desktop */
@media screen and (min-width: 1440px) {
    .advantages-section {
        padding: 64px;
        gap: 80px;
        align-items: flex-start;
    }

    .advantages-name {
        padding-bottom: 16px;
    }

    .advantages-title {
        font-size: 48px;
        padding-bottom: 24px;
    }

    .advantages-text {
        font-size: 18px;
        width: 768px;
    }

    .advantages-list-container{
        max-width: 1312px;
    }

    .advantages-list{
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .advantages-list-item {
        width: 421px;
    }

    .advantages-img, .advantages-third-img{
        border-radius: 32px;
        padding-bottom: 32px;
        width: 421px;
        height: 249px;
    }

    .advantages-list-item-title {
        padding-bottom: 24px;
        font-size: 32px;
        width: 421px;
    }

    .advantages-list-item:nth-child(2) .advantages-list-item-title {
        padding-bottom: 24px;
    }

    .advantages-list-item-text {
        width: 421px;
    }
}
/* #endregion desktop */