.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #75D281;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
   
}
.mobile-menu-close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.menu-nav{
    margin-bottom: auto;
    padding: 32px 20px 0;
}
.nav-list-menu{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
.nav-link-menu{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,6;
    color: #030A06;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    margin-left: 20px;
    margin-top: 14px;
}
.contacts-menu{
    padding-left: 16px;
    margin-bottom: 64px;
}
.contacts-list-menu{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    font-style: normal;
    margin-bottom: auto;
}
.contacts-link-menu{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px){
    .mobile-menu{
        display: none;
    }
 
} 
