.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #75d281;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.burger-menu-header {
    padding: 14px 16px;
    position: relative;
}

.header-img-logo {
    width: 84px;
    height: 36px;
}

.burger-menu-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.header-link-logo {}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    padding: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.close-btn-icon {
    display: block;
    fill: #030a06;
}

.burger-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;
    margin-bottom: 32px;
}

.nav-link {
    position: relative;
    outline: none;
    
}

.nav-link:hover::after,
.nav-link:focus::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    background-color: #030a06;  
}

.nav-link:active {
    color:#3ac04c;

}

.nav-link:active:after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    background-color: #3ac04c;
}

.burger-nav-list>.nav-list-item {}

.burger-contact {}

.burger-contact>.contact-list {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 0;
}

.burger-contact>.contact-list-item {}

@media only screen and (min-width: 768px) {
    .burger-menu-header {
        padding: 14px 32px;
    }

    .burger-nav-list {
        margin-bottom: 0;
        padding: 32px 0;
    }

    .burger-contact>.contact-list {
        padding: 32px 0;
    }
}

@media only screen and (min-width: 1440px) {
    .burger-menu {
        display: none;
    }
}