.feedback-section {
    padding: 32px 0;
}

.feedback-section>.container {
    display: flex;
    flex-direction: column;
    color: #030a06;
}

.feedback-title {
    font-family:'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    width: 288px;
    margin: 0 auto 32px;
    
}

.feedback-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.feedback-list-item {
    font-family: 'Comfortaa', sans-serif;
}

.rating-list {
    display: flex;
    gap: 4px;
    fill: #3AC04C;
    margin-bottom: 12px;
}

.rating-list-item {
    max-height: 24px;
}

.star-icon {}

.feedback-item-content {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin-bottom: 12px;
}

.feedback-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Fira Sans', sans-serif;
}

@media only screen and (min-width: 768px) {

    .feedback-title {
        width: 560px;
    }

    .feedback-list {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 24px;
    }
        
    .feedback-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .rating-list {
        margin-bottom: 24px;
    }

    .feedback-item-content {
        margin-bottom: 24px;
    }
    
}

@media only screen and (min-width: 1440px) {
    .feedback-title {
        font-size: 48px;
        margin: 0 auto 80px;
        text-align: center;
    }

    .feedback-list {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }

    .feedback-list-item {
        display: flex;
        flex-direction: column;

        flex-basis: calc((100% - 72px) / 4);
    }

    .feedback-item-content {
        width: 310px;
        flex-grow: 1;
    }

    .feedback-item-title {
        margin-top: auto;
    }
}