.feedback-section {}

.feedback-section>.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.feedback-title {
    font-family:'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
}

.feedback-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.feedback-list-item {
    font-family: 'Comfortaa', sans-serif;
}

.rating-list {
    display: flex;
    gap: 4px;
    fill: #3AC04C;
    margin-bottom: 12px;
}

.rating-list-item {
    max-height: 24px;
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    min-height: 24px;
}

.star-icon {}

.feedback-item-content {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin-bottom: 12px;
}

.feedback-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Fira Sans', sans-serif;
}

@media only screen and (min-width: 768px) {
    .feedback-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 24px;
    }
        
    .feedback-list-item {
        flex-basis: calc(50% - 24px);
    }
    
    .feedback-section>.container {
        margin-bottom: 128px;
    }
}

@media only screen and (min-width: 1440px) {
    .feedback-title {
        font-size: 48px;
        width: 560px;
        margin: 0 auto 80px;
    }

    .feedback-list {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }

    .feedback-list-item {
        max-width: 310px;
    }
}