.footer {
  display: flex;
  padding: 48px 0;
  background-color: #75d281;

  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

.social-footer.desktop-position {
  display: none;
}

.footer .container {
  flex-direction: column;
}

.footer-logo-img {
  width: 280px;
  height: 121px;
}

.nav-footer-wrapper {
  padding: 48px 0;
  /* margin: 0 auto; */
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.social-footer-li{
position: relative;
outline:none;
}
.nav-list-link {
  position: relative;
  outline: none;
}
.address-footer-link{
 position: relative;
 outline:none;
}
.nav-list-link:hover::after,
.nav-list-link:focus::after,
.contacts-items:hover::after,
.contacts-items:focus::after,
.address-footer-link:hover::after,
.address-footer-link:focus::after,
.social-footer-li:hover::after,
.social-footer-li:focus::after

{
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  background-color: #030a06;

}

.nav-list-link:active,
.contacts-items:active,
.address-footer-link:active, 
.social-footer-li:active {
  color: #3ac04c;

}
.icon-footer:hover, 
.icon-footer:focus {
      fill:  #030a06;
}

.icon-footer:active {
       fill: #3ac04c;
}

.nav-list-link:active:after,
.contacts-items:active:after,
.address-footer-link:active:after,
.social-footer-li:active:after
{
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  background-color: #3ac04c;
}

.social-footer-wrapper {
  margin: 0 auto;
}

.social-footer-link {
  display: block;
  width: 32px;
  height: 32px;
}
.social-footer {
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon-footer {
  fill: #000;
  width: 32px;
  height: 32px;
}

.address-footer-wrapper {
  padding-top: 48px;
  /* margin: 0 auto; */
  text-align: center;
  position: relative;
}

.address-footer-wrapper::before {
  content: '';
  position: absolute;

  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(3, 10, 6, 0.15);
}

.address-footer {
  padding: 24px 0;
  font-style: normal;
}

.address-footer-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.address-footer-wrapper .rights {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 64px 0;
  }

  .footer .container {
    width: 100%;
  }

  .footer-logo-img {
    width: 164px;
    height: 70px;
    margin: 0 auto;
  }

  .nav-footer-wrapper {
    padding: 32px 0;
  }

  .nav-footer {
    flex-direction: row;
  }
  .icon-footer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 40px;
    height: 40px;
  }

  .social-footer-link {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
    height: 40px;
  }

  .address-footer-wrapper {
    padding-top: 24px;
    width: 100%;
  }

  .address-footer-ul {
    flex-direction: row;
    gap: 32px;
  }

  .address-footer {
    padding: 16px 0;
  }

  .address-footer-wrapper .rights {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }

  .footer .container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .icon-footer {
    width: 24px;
    height: 24px;
  }

  .social-footer-link {
    width: 24px;
    height: 24px;
  }

  .social-footer-wrapper {
    margin: 0;
  }

  .social-footer.desktop-position {
    display: flex;
    justify-content: right;
  }
}
