.footer {
  display: flex;
  padding: 48px 0;
  background-color: #75d281;

  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

.footer .container {
  flex-direction: column;
  padding: 0;
}

.footer-logo-img {
  width: 280px;
  height: 121px;
}

.nav-footer-wrapper {
  padding: 48px 0;
  margin: 0 auto;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.social-footer-wrapper {
  margin: 0 auto;
}

.social-footer-link {
  display: block;
  width: 32px;
  height: 32px;
}
.social-footer {
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.icon-footer {
  fill: #000;
  width: 32px;
  height: 32px;
}

.address-footer-wrapper {
  padding-top: 48px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.address-footer-wrapper::before {
  content: '';
  position: absolute;

  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(3, 10, 6, 0.15);
}

.address-footer {
  padding: 24px 0;
  font-style: normal;
}

.address-footer-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.address-footer-wrapper .rights {
  margin-bottom: 16px;
}
