.page-header {
  background-color: #75D281;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.nav-list,
.contacts {
  display: none;
}

.nav-items {
  border-bottom: 1px solid transparent;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-items:focus,
.nav-items:hover {
  border-bottom: 1px solid #030A06;
}

.nav-items:active {
  border-bottom: 1px solid #3AC04C;
  color: #3AC04C;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 84px;
  height: 36px;
}
.burger-btn {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #030A06;
}
@media screen and (min-width: 1440px) {
  .burger-btn {
    display: none;
  }
  .header-logo {
    width: 106px;
    height: 45px;
  }
  .nav-list {
    display: flex;
    gap: 32px;
  }
  .nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
  }
  .contacts {
    display: flex;
    font-style: normal;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
