/* Mobile version */
.hero {
  width: 100%;
  padding: 64px 0;
}
.hero-link {
  margin-bottom: 24px;
}
.hero-pic {
  border-radius: 40px;
  overflow: hidden;
}
.hero-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-title {
  font-family: Comfortaa, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 20px;
}
.hero-description {
  font-family: Fira sans, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 24px;
}
.hero-btn {
  height: 50px;
  width: 288px;
  padding: 0;
  background-color: #030a06;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s ease;
}

.hero-btn:focus,
.hero-btn:hover {
  outline: none;
  background-color: rgba(3, 10, 6, 0.5);
}

.hero-btn:active {
  background-color: rgba(17, 57, 22, 0.6);
}


/* Tablet version */
@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 32px;
    padding-bottom: 64px;
  }
  .hero-container {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
  }
  .hero-text-link {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: auto;
    margin-bottom: 0;
  }
  .hero-descr-link {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hero-title {
    max-width: 340px;
    margin: 0;
  }
  .hero-description {
    margin-top: 0;
    margin-bottom: 32px;
  }
  .hero-btn {
    width: 148px;
    margin-bottom: 0;
  }

}
/* Desktop version */
@media only screen and (min-width: 1440px) {
  
  .hero-text-link {
    gap: 32px;
    margin: 0;
  }
  .hero-descr-link {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hero-title {
    font-size: 56px;
    max-width: 640px;
    text-align: left;
  }
  .hero-description {
    font-size: 18px;
  }
  .hero-link:hover,
  .hero-link:focus {
    background-color: #030a06;
    opacity: 0.5;
    border-color: #030a06;
  }
}
